/* Button
-------------------------------------------------------------------------- */
$this: ".aph.btn";
#{$this} {
    position: relative;
    display : inline-block;
    cursor  : pointer;

    vertical-align: top;

    margin    : 0;
    padding   : 0 24px;
    min-height: 40px;

    font-size  : $font-size;
    font-weight: 400;
    line-height: 40px;

    text-transform : uppercase;
    text-align     : center;
    text-decoration: none;
    border         : 0;
    border-radius  : 20px;

    background-image: none;
    background-color: $color-blue;
    color           : $color-white;

    transition: .15s all linear;

    &:hover,
    &:active,
    &:focus {
        outline         : 0;
        background-image: none;
        background-color: $color-lochmara;
    }

    &.disabled,
    &:disabled {
        cursor          : default;
        color           : darken($color-light-grey, 15%) !important;
        background-color: $color-light-grey !important;
        border-color    : $color-light-grey !important;

        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
        }
    }

    &--block {
        display: block;
        width  : 100%;
    }

    &--sm {
        font-size  : 13px;
        line-height: 30px;
        min-height : 30px;

        &#{$this}--bordered {
            line-height: 28px;
        }
    }

    &--xs {
        font-size  : 9px;
        line-height: 20px;
        min-height : 20px;

        &#{$this}--bordered {
            line-height: 18px;
        }
    }

    &--bordered {
        background : transparent;
        color      : $color-blue;
        border     : 1px solid $color-blue;
        line-height: 38px;

        &:hover,
        &:focus,
        &:active {
            color     : $color-blue;
            background: none;
        }

        &.disabled,
        &:disabled {
            color       : darken($color-light-grey, 5%);
            border-color: lighten($color-light-grey, 10%);
            box-shadow  : none;
        }
    }

    &--link {
        background: transparent;
        color     : $color-blue;

        &:hover:not(:disabled),
        &:active,
        &:focus {
            color     : $color-blue;
            background: rgba($color-blue, .1);
        }

        &.disabled,
        &:disabled {
            color     : darken($color-light-grey, 15%) ;
            background: transparent;
            box-shadow: none;
        }
    }

    &.loading,
    &--loading {
        &.transparent {
            background-color: transparent;

            &:hover,
            &:focus,
            &:active {
                background-color: transparent;
            }

            &:before {
                border-color      : $color-blue;
                border-right-color: transparent;
            }
        }

        &:before {
            position: relative;
            content : ' ';
            display : inline-block;

            box-sizing: border-box;
            overflow  : hidden;

            vertical-align: middle;
            text-indent   : -9999px;

            border            : 3px solid $color-white;
            border-right-color: transparent;
            border-radius     : 100%;

            width : 18px;
            height: 18px;
            margin: -3px 0 0 5px;

            animation: three-quarters 1s infinite linear;
        }

        &:disabled,
        &.disabled {
            &:before {
                border-color      : $color-grey;
                border-right-color: transparent;
            }
        }
    }

    &--labeled {
        text-align: right;
        padding-right: 30px;
        padding-left: 50px;

        &:active {
            text-align: right;
        }

        > [class*="icon-"] {
            font-size: 23px;
            line-height: 16px;
            position: absolute;
            top : 7px;
            left: 20px;
        }

        &.btn--block {
            padding-left: 20px;
            text-align  : center;

            > [class*="icon-"] {
                position: relative;
                left: inherit;
            }
        }

        > .icon-android {
            top: 5px;
        }

        > .icon-apple,
        > .icon-twitter {
            top: 4px;
        }

        > .icon-facebook {
            top: 2.5px;
        }

        > .icon-add {
            top: 8px;
        }
    }

    //Button colors
    $btn_colors:
        ("orange",   $color-orange,           $color-white),
        ("yellow",   $color-lightning-yellow, $color-black),
        ("green",    $color-green,            $color-white),
        ("red",      $color-red,              $color-white),
        ("black",    $color-black,            $color-white),
        ("white",    $color-white,            $color-black),
        ("facebook", $color-blue-facebook,    $color-white),
    ;

    @each $btn_class, $btn_bgColor, $btn_txtColor in $btn_colors {
        &--#{$btn_class} {
            color           : $btn_txtColor;
            background-color: $btn_bgColor;

            &:hover,
            &:active,
            &:focus {
                background-color: darken($btn_bgColor, 10%);
            }

            &#{$this} {
                &--bordered {
                    color           : $btn_bgColor;
                    background-color: transparent;
                    border-color    : $btn_bgColor;

                    &:hover,
                    &:focus,
                    &:active {
                        color           : $btn_bgColor;
                        background-color: transparent;
                    }
                }

                &--link {
                    color           : $btn_bgColor;
                    background-color: transparent;

                    &:hover,
                    &:focus,
                    &:active {
                        color           : $btn_bgColor;
                        background-color: rgba($btn_bgColor, .1);
                    }

                    &.disabled,
                    &:disabled {
                        color     : darken($color-light-grey, 15%) !important;
                        box-shadow: none;
                    }
                }
            }

            &.disabled,
            &:disabled {
                cursor          : default;
                color           : darken($color-light-grey, 15%) !important;
                background-color: $color-light-grey !important;
                border-color    : $color-light-grey !important;

                &:hover,
                &:active,
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    // Button White
    &--white {
        &#{$this} {
            &--bordered {
                color       : $color-white;
                border-color: $color-white;

                &:hover,
                &:focus,
                &:active {
                    color           : $color-white;
                    background-color: rgba($color-white, .25);
                }
            }
        }
    }

    @include xs {
        padding-right: 15px;
        padding-left : 15px;
        min-height   : 50px;
        line-height  : 50px;
        border-radius: 25px;

        &--xs {
            min-height : 20px;
            line-height: 20px;
        }

        &--sm {
            min-height : 30px;
            line-height: 30px;
        }

        &--bordered {
            line-height: 48px;
        }
    }
}
