// Drawer
$this: ".aph.drawer";

#{$this} {
    position: fixed;
    z-index : 1030;

    top   : 0;
    left  :-300px;

    width : 300px;
    height: 100%;

    background: $color-white-smoke;

    overflow-x: hidden;
    overflow-y: auto;

    padding: $container-horizontal-padding;

    -webkit-overflow-scrolling: touch;

    transition: .2s left linear;
    animation : fadeInLeft;

    border-right: 1px solid $color-light-grey;

    &.active {
        left: 0;
        box-shadow: 1px 0 5px 0 rgba($color-dark-grey, .9);
    }

    &__menu {
        &.aph.list {
            &:first-child {
                .aph.list__header {
                    margin-top: 14px;
                }
            }
        }
    }
}

// Content
$this: ".aph.content";

#{$this} {
    &.active {
        margin-left: 300px;
    }
}
