$this: ".aph.form__switch";

#{$this} {
    position  : relative;
    display   : block !important;
    min-height: 30px;

    margin : 0;
    padding: 0 0 0 50px;

    font-size     : 13px;
    font-weight   : 500;
    line-height   : 1.5;
    text-transform: uppercase;

    color: $color-dark-grey;

    cursor: pointer;

    @include no-select();

    &:after {
        content: " ";
        display: block;
    }

    &--right {
        padding-right: 60px;
        padding-left : 0;

        #{$this} {
            &__check,
            &__slider {
                right : 0;
                left  : auto;
            }
        }
    }

    &__check {
        display : inline-block;
        position: absolute;
        top     : 0;
        opacity : 0;

        &:checked + #{$this}__slider {
            background-color: $color-green;

            &:before {
                transform: translateX(20px);

                border-color: $color-green;
            }
        }

        &:disabled,
        &--disabled {
            + #{$this}__slider {
                cursor: default;
                background-color: $color-light-grey;

                &:before {
                    background-color: $color-white-smoke;
                }
            }

            &:checked {
                + #{$this}__slider {
                    background-color: lighten($color-green, 30%);
                }
            }
        }
    }

    &__check,
    &__slider {
        width : 50px;
        height: 30px;
        left  : 0;
    }

    &__slider {
        position: absolute;
        cursor  : pointer;

        top   : 50%;
        bottom: 0;
        height: 20px;

        -webkit-transform: translateY(-49%);
        -ms-transform    : translateY(-49%);
        transform        : translateY(-49%);

        background-color: $color-grey;

        border-radius: 15px;

        transition: .1s;

        &:before {
            position: absolute;
            content : " ";

            top   : 0;
            left  : 0;
            width : 30px;
            height: 30px;
            margin: -5px 0 0;
            border: 0;

            border-radius: 50%;

            background-color: $color-white;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);

            transition: .1s;
        }
    }
}
