/* List
-------------------------------------------------------------------------- */
$this: ".aph.list";
#{$this} {
    list-style-type: none;

    margin : 25px 0;
    padding: 0;

    font-size  : 14px;
    line-height: 1.45;

    &:first-child {
        margin-top: 0;
        padding-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &--bulleted,
    &--ordered {
        padding-left: 32px;
    }

    &--bulleted {
        #{$this}__item {
            &:before {
                -webkit-user-select: none;
                pointer-events: none;
                position: absolute;
                top: auto;
                left: auto;
                margin-left: -1.25rem;
                content: "•";
                opacity: 1;
                color: inherit;
                vertical-align: top;
            }
        }
    }

    &--ordered {
        counter-reset: ordered;

        #{$this}__item {
            position: relative;

            &:before {
                position: absolute;
                top: auto;
                left: auto;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                pointer-events: none;
                margin-left: -1.25rem;
                counter-increment: ordered;
                content: counters(ordered, ".") " ";
                text-align: right;
                color: $color-black;
                vertical-align: middle;
                opacity: .8;
            }
        }
    }

    &--horizontal {
        margin-left: -15px;
        margin-right: -15px;

        #{$this} {
            &__item,
            &__border {
                display: inline-block;
            }

            &__header,
            &__item {
                padding-right: 15px;
                padding-left: 15px;
            }

            &__item {

                &__link {
                    margin-left: -15px;
                    margin-right: -15px;
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }

            &__border {
                border-left: 1px solid rgba($color-black, .1);
                height: 40px;
                margin: -14px 10px;
            }
        }

    }

    &--inverted {
        #{$this} {
            &__item,
            &__item__link {
                color: $color-white;

                &--external {
                    &:after {
                        background-image: url("#{map-get($path-assets, icons)}/icon--external-link--white.svg");
                    }
                }
            }

            &__item__link {
                font-weight: 700;

                &:hover {
                    color: darken($color-white, 10%);
                }
            }

            &__border {
                border-color: rgba($color-white, .25);
            }
        }
    }

    &--bordered {
        #{$this} {
            &__header {
                margin-bottom: 0;
                padding-bottom: 4px;
            }

            &__header,
            &__item {
                border-bottom: 1px solid $color-light-grey;
            }

            &__item {
                padding-bottom: 4px;

                &:last-child {
                    border-bottom: none;
                }
            }

            #{$this} {
                &__item {
                    &:first-child {
                        border-top : 1px solid $color-light-grey;
                        padding-top: 4px;
                    }
                }
            }
        }
    }

    &__linked {
        line-height: .8;

        #{$this} {
            &__item {
                padding: 10px 0;
            }
        }

        &#{$this}--bordered {
            #{$this} {
                &__item {
                    margin-top: -1px;
                }
            }
        }
    }

    &--large {
        #{$this} {
            &__item {
                padding: 15px 0;

                #{$this} {
                    margin-top   : 15px;
                    margin-bottom: -15px;
                }
            }
        }

        &#{$this} {
            &--bordered {
                #{$this} {
                    &__item {
                        padding-bottom: 14px;
                    }

                    #{$this} {
                        &__item {
                            &:first-child {
                                padding-top: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    &__header {
        margin-top   : 15px;
        margin-bottom: 5px;
        color: $color-dark-grey;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__item {
        padding: 5px 0;

        &.active,
        &:focus {
            color: $color-black;
        }

        &.disabled,
        &:disabled {
            color: $color-grey;
            cursor: default;

            #{$this}__item__link {
                color: $color-grey;
                cursor: default;

                &--external {
                    &:after {
                        background-image: url("#{map-get($path-assets, icons)}/icon--external-link--grey.svg");
                    }
                }
            }
        }

        &__link {
            display: block;
            margin: -10px;
            padding: 10px;
            text-decoration: none;
            color: $color-blue;
            cursor: pointer;
            outline: 0;
            @include border-radius(1px);
            @include transition;

            &.active {
                color: $color-black;
                outline: 0;
            }

            &.disabled,
            &:disabled {
                color: $color-grey;
                cursor: default;
            }

            &--external {
                &:after {
                    content: " ";
                    display: inline-block;
                    margin: -6px -6px -4.5px 3px;
                    width: 16px;
                    height: 20px;
                    background-size: 16px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url("#{map-get($path-assets, icons)}/icon--external-link.svg");
                }

                &.disabled,
                &:disabled {
                    &:after {
                        background-image: url("#{map-get($path-assets, icons)}/icon--external-link--grey.svg");
                    }
                }
            }
        }

        #{$this} {
            margin: 5px 0 -5px 20px;

            &__header {
                margin-top: 10px;
            }
        }

        .btn {
            margin: 4.5px 0;
        }
    }
}
