//Actions

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-right($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-topright: $radius;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-left($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-topleft: $radius;
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin text-shadow($shadow) {
  -webkit-text-shadow: $shadow;
  -moz-text-shadow: $shadow;
  -ms-text-shadow: $shadow;
  text-shadow: $shadow;
}

//Forms
@mixin placeholder-style {
    font-size  : 16px;
    font-style : normal;
    font-weight: normal !important;

    color: $input-placeholder-color;
}

@mixin font-size-alerts {
  font-size: 14px;
}

@mixin font-size-steps {
  font-size: 14px;
}

@mixin font-size-pagination {
  font-size: 14px;
}

// Transition
@mixin transition ($time: .25s) {
    -o-transition     : $time;
    -moz-transition   : $time;
    -webkit-transition: $time;
    transition        : $time;
}

// Animation
@mixin animation ($name, $time, $loop) {
    -o-animation     : #{$name} $time #{$loop};
    -moz-animation   : #{$name} $time #{$loop};
    -webkit-animation: #{$name} $time #{$loop};
    animation        : #{$name} $time #{$loop};
}

// User no select
@mixin no-select() {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

// Responsive Utilities
@mixin responsive-visibility() {
    display: block !important;

    &-inline {
        display: inline !important;

        &-block {
            display: inline-block !important;
        }
    }
}

@mixin responsive-invisibility() {
    display: none !important;

    &-inline {
        display: none !important;

        &-block {
            display: none !important;
        }
    }
}

// Keyframe
@mixin keyframe ($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
