$this: ".aph.table";

#{$this} {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        font-size  : 16px;
        line-height: 1.35;
        padding: 14px $container-horizontal-padding 15px;
    }

    th {
        color: $color-grey;

        font-size  : 14px;
        line-height: 1.45;
        font-weight: 500;

        text-align    : left;
        text-transform: uppercase;
    }

    thead {
        tr {
            &:last-of-type {
                border-bottom: 1px solid $color-light-grey;
            }
        }
    }

    tfoot {
        font-weight: 500;

        tr {
            &:first-of-type {
                border-top: 1px solid $color-light-grey;

                td {
                    padding-top: 13px;
                }
            }
        }
    }

    &--striped {
        tbody {
            tr:nth-child(even) {
                background-color: $color-white-smoke;
            }
        }
    }

    &--hover {
        tbody {
            tr {
                transition: background-color .15s linear;

                &:hover {
                    background-color: $color-white-smoke;
                }
            }
        }

        &#{$this}--striped {
            tbody {
                tr:nth-child(even) {
                    &:hover {
                        box-shadow: 0 0 8px -2px $color-light-grey inset;
                    }
                }
            }
        }
    }

    &--condensed {
        th,
        td {
            padding: 5px #{$container-horizontal-padding / 2} 4px;
        }

        thead th {
            font-size  : 13px;
            line-height: 1.55;
        }

        td {
            font-size  : 14px;
            line-height: 1.5;
        }

        tbody {
            tr {
                &:last-of-type {
                    td {
                        padding-bottom: 4px;
                    }
                }
            }
        }

        tfoot {
            tr {
                &:first-of-type {
                    td {
                        padding-top: 4px;
                    }
                }
            }
        }
    }
}
