$this: ".aph.tag";

#{$this} {
    display       : inline-block;
    vertical-align: baseline;
    position      : relative;

    padding      : 7px 15px 6px;
    margin-bottom: 9px;
    margin-right : 8px;

    font-size  : 12px;
    font-weight: bold;
    line-height: 1.25;

    text-align     : center;
    white-space    : nowrap;
    text-decoration: none;

    color : $color-blue;
    border: 1px solid $color-blue;
    @include border-radius(3px);

    background-color: $color-light-blue;

    &:last-of-type {
        margin-right: 0;
    }

    &--small {
        padding  : 3px 8px 2px;
        font-size: 11px;
    }

    &--rounded {
        background-color: transparent;
        @include border-radius(20px);

        &#{$this}--small {
            @include border-radius(10px);
        }
    }

    &--add {
        padding-left: 30px;

        &:before {
            position: absolute;
            content : "+";
            color   : transparent;

            top   : 0;
            bottom: 0;
            left  : 10px;

            transform: translateY(-50%);

            width: 12px;

            background-image   : url("#{map-get($path-assets, icons)}/icon--plus--blue.svg");
            background-size    : 12px 12px;
            background-repeat  : no-repeat;
            background-position: center center;
        }

        &#{$this}--small {
            padding-left: 20px;

            &:before {
                left: 5px;

                width: 11px;

                background-size: 9px 9px;
            }
        }
    }

    &--add:before,
    &--dismiss__close {
        top: 50%;
    }

    &--dismiss {
        padding-right: 30px;

        &__close {
            position: absolute;

            right: 2px;

            transform: translateY(-50%);

            padding: 5px;

            font-size  : 25px;
            line-height: .65;
            font-weight: 100;

            background-color: transparent;
            border          : none;
            outline         : 0;

            color: transparent;

            right: 2px;

            width : 25px;
            height: 25px;

            color: transparent;

            background-image   : url("#{map-get($path-assets, icons)}/icon--close--blue.svg");
            background-repeat  : no-repeat;
            background-position: center center;
            background-size    : 10px;

            &:hover {
                opacity: .85;
            }
        }

        &#{$this}--small {
            padding-right: 20px;

            #{$this}--dismiss__close {
                right: 0;

                padding: 2px;

                font-size: 20px;

                width : 20px;
                height: 20px;
            }
        }
    }
}
