/* Tooltip
-------------------------------------------------------------------------- */
$this: ".aph.tooltip";
#{$this} {
    position: relative;

    &:hover,
    &:focus,
    &:active {
        #{$this} {
            &__content {
                opacity   : 1;
                visibility: visible;
            }
        }
    }

    &__content {
        position: absolute;
        bottom  : 32px;
        left    : calc(50% - 66px);
        width   : 132px;
        z-index : 1;

        padding: 7px 4px 6px;

        font-size  : 11px;
        font-style : normal;
        font-weight: normal;
        line-height: 15px;
        text-align    : center;
        text-transform: none;

        color           : $color-black;
        background-color: $color-white;
        box-shadow      : 0 0 4px $color-light-grey;

        word-break   : keep-all;
        border-radius: 4px;
        transition   : .25s;

        visibility: hidden;
        opacity   : 0;

        &:before,
        &:after {
            content : " ";
            position: absolute;

            top : 100%;
            left: calc(50% - 8px);

            width : 0;
            height: 0;
        }

        &:before {
            border-top  : 8px solid $color-grey-smoke;
            border-right: 8px solid transparent;
            border-left : 8px solid transparent;
        }

        &:after {
            border-top  : 6px solid $color-white;
            border-right: 6px solid transparent;
            border-left : 6px solid transparent;

            margin-left: 2px;
        }

        &.right,
        &.left {
            bottom: -4px;
            width : auto;

            padding-right: 8px;
            padding-left : 8px;

            white-space: nowrap;

            &:before,
            &:after {
                top: auto;
            }
        }

        &.right {
            left: 32px;

            &:before,
            &:after {
                left: -8px;
            }

            &:before {
                margin-top: -2px;

                border-top   : 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right : 8px solid $color-grey-smoke;
                border-left  : none;
            }

            &:after {
                border-top   : 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-right : 6px solid $color-white;
                border-left  : none;
            }
        }

        &.left {
            right: calc(100% + 12px);
            left : auto;

            &:before,
            &:after {
                left : auto;
            }

            &:before {
                margin-top: -2px;
                right: -8px;

                border-top   : 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right : none;
                border-left  : 8px solid $color-grey-smoke;
            }

            &:after {
                right: -6px;

                border-top   : 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-right : none;
                border-left  : 6px solid $color-white;
            }
        }

        &.bottom {
            bottom: auto;
            top   : 32px;

            &:before,
            &:after {
                top   : auto;
                bottom: 100%;
            }

            &:before {
                border-top   : none;
                border-bottom: 8px solid $color-grey-smoke;
            }

            &:after {
                border-top   : none;
                border-bottom: 6px solid $color-white;
            }
        }

        &--md {
            width: 220px;
            left : calc(50% - 110px);
        }
    }

    @include xs {
        &__content {
            left: -2px;

            &:before,
            &:after {
                left: 2px;
            }
        }
    }
}
