<div class="aph form__field">
    <label class="aph form__label"
           for="cc_birthdate">
        Nascimento
    </label>
    <input
        class="aph form__control"
        type="tel"
        name="birthdate"
        id="cc_birthdate"
        data-ng-model="birthdate"
        data-ng-change="handleChange()"
        data-ui-mask="99/99/9999"
        data-prevent-paste
        required
    />
    <div class="aph form__helper form__helper--error"
         data-ng-if="isInvalid">
        Data inválida
    </div>
</div>
