<div class="aph form__field">
    <label class="aph form__label"
           for="{{ id || 'cc_cvv' }}">
        {{ label || 'CVV' }}
    </label>
    <input
        class="aph form__control creditcard-cvv"
        type="tel"
        name="csv"
        id="{{ id || 'cc_cvv' }}"
        placeholder="{{ placeholder || 'CVV' }}"
        data-ng-model="card.cvv"
        data-only-digits
        data-only-digits-min-length="{{ minLength || 3 }}"
        data-only-digits-max-length="{{ maxLength || 4 }}"
        required
    />
</div>
