<svg class="aph ic-defs">
    <defs>

        <g id="check-circle"
           fill="none" fill-rule="evenodd"
           stroke-linecap="round" stroke-linejoin="round"
           transform="translate(1 1)">
            <path id="a" d="M27.5 14c0 7.457-6.043 13.5-13.5 13.5S.5 21.457.5 14C.5 6.545 6.543.5 14 .5S27.5 6.545 27.5 14z"/>
            <mask id="b" width="30" height="30" x="-1.5" y="-1.5">
                <path fill="#fff" d="M-1-1h30v30H-1z"/>
                <use xlink:href="#a"/>
            </mask>
            <use stroke-width="2" mask="url(#b)" xlink:href="#a"/>
            <path stroke-width="1.5" d="M7.808 14.149l4.291 3.994 8.821-8.554"/>
        </g>

        <g id="close-circle"
           fill="none" fill-rule="evenodd"
           stroke-linecap="round" stroke-linejoin="round"
           transform="translate(1 1)">
            <path id="a" d="M27.5 14c0 7.456-6.046 13.5-13.5 13.5C6.541 27.5.5 21.456.5 14 .5 6.545 6.541.5 14 .5 21.454.5 27.5 6.546 27.5 14z"/>
            <mask id="b" width="30" height="30" x="-1.5" y="-1.5">
                <path fill="#fff" d="M-1-1h30v30H-1z"/>
                <use xlink:href="#a"/>
            </mask>
            <use stroke-width="2" mask="url(#b)" xlink:href="#a"/>
            <g stroke-width="1.5">
                <path d="M8.886 8.896l10.257 10.257L8.886 8.896zM8.886 19.153L19.143 8.896 8.886 19.153z"/>
            </g>
        </g>

        <g id="plus-circle"
           fill="none" fill-rule="evenodd"
           stroke-linecap="round" stroke-linejoin="round"
           transform="translate(1 1)">
            <path id="a" d="M23.546 23.547c-5.272 5.27-13.819 5.27-19.092 0-5.272-5.274-5.272-13.822 0-19.093 5.273-5.272 13.82-5.272 19.09 0 5.274 5.271 5.274 13.82.002 19.093z"/>
            <mask id="b" width="30" height="30" x="-1.5" y="-1.5">
                <path fill="#fff" d="M-1-1h30v30H-1z"/>
                <use xlink:href="#a"/>
            </mask>
            <use stroke-width="2" mask="url(#b)" xlink:href="#a"/>
            <g stroke-width="1.5">
                <path d="M6.755 13.866h14.506H6.755zM14.008 21.118V6.613v14.505z"/>
            </g>
        </g>

        <g id="minus-circle"
           fill="none" fill-rule="evenodd"
           stroke-linecap="round" stroke-linejoin="round"
           transform="translate(1 1)">
            <path id="a" d="M23.547 23.545c-5.273 5.273-13.821 5.273-19.093 0-5.273-5.27-5.271-13.819 0-19.092 5.272-5.27 13.82-5.27 19.092 0 5.271 5.273 5.272 13.821 0 19.092z"/>
            <mask id="b" width="30" height="30" x="-1.5" y="-1.5">
                <path fill="#fff" d="M-1-1h30v30H-1z"/>
                <use xlink:href="#a"/>
            </mask>
            <use stroke-width="2" mask="url(#b)" xlink:href="#a"/>
            <path stroke-width="1.5" d="M6.755 13.866h14.506H6.755z"/>
        </g>

        <g id="undo-circle"
           fill="none" fill-rule="evenodd"
           stroke-linecap="round" stroke-linejoin="round"
           transform="translate(1 1)">
            <path id="a" d="M23.547 23.547c-5.273 5.27-13.821 5.27-19.092 0-5.273-5.274-5.273-13.823 0-19.094 5.27-5.27 13.819-5.27 19.09 0 5.273 5.271 5.273 13.82.002 19.094z"/>
            <mask id="b" width="30" height="30" x="-1.5" y="-1.5">
                <path fill="#fff" d="M-1-1h30v30H-1z"/>
                <use xlink:href="#a"/>
            </mask>
            <use stroke-width="2" mask="url(#b)" xlink:href="#a"/>
            <path stroke-width="1.5" d="M11.106 16.942L7.48 19.064l-2.018-3.82m17 .65c-.867-2.223-2.66-4.023-5.027-4.736-4.106-1.231-8.383 1.27-9.553 5.59a8.468 8.468 0 0 0-.296 1.965"/>
        </g>

        <g id="arrow-left-circle"
           fill="none" fill-rule="evenodd"
           stroke-linecap="round" stroke-linejoin="round"
           transform="matrix(-1 0 0 1 28.5 1.5)">
            <path id="a" d="M3.953 3.953c5.272-5.27 13.82-5.27 19.092 0 5.273 5.274 5.273 13.82 0 19.091-5.271 5.275-13.82 5.275-19.09 0-5.273-5.27-5.273-13.82-.002-19.09z"/>
            <mask id="b" width="30" height="30" x="-1.5" y="-1.5">
                <path fill="#fff" d="M-1.5-1.5h30v30h-30z"/>
                <use xlink:href="#a"/>
            </mask>
            <use stroke-width="2" mask="url(#b)" xlink:href="#a"/>
            <path stroke-width="2" d="M12 17.988l4.495-4.495L12 9"/>
        </g>

        <g id="arrow-right-circle"
           fill="none" fill-rule="evenodd"
           stroke-linecap="round" stroke-linejoin="round"
           transform="translate(1.5 1.5)">
            <path id="a" d="M3.953 3.953c5.272-5.27 13.82-5.27 19.092 0 5.273 5.274 5.273 13.82 0 19.091-5.271 5.275-13.82 5.275-19.09 0-5.273-5.27-5.273-13.82-.002-19.09z"/>
            <mask id="b" width="30" height="30" x="-1.5" y="-1.5">
                <path fill="#fff" d="M-1.5-1.5h30v30h-30z"/>
                <use xlink:href="#a"/>
            </mask>
            <use stroke-width="2" mask="url(#b)" xlink:href="#a"/>
            <path stroke-width="2" d="M12 17.988l4.495-4.495L12 9"/>
        </g>

        <g id="info-circle"
           fill="none" fill-rule="evenodd"
           transform="translate(1 1)">
            <path id="a" d="M27 13.499c0 7.457-6.046 13.5-13.5 13.5-7.458 0-13.5-6.043-13.5-13.5C0 6.044 6.042 0 13.5 0 20.954 0 27 6.044 27 13.499z"/>
            <mask id="b" width="30" height="29.999" x="-1.5" y="-1.5">
                <path d="M-1.5-1.5h30v29.999h-30z"/>
                <use xlink:href="#a"/>
            </mask>
            <use stroke-linecap="round" stroke-linejoin="round" stroke-width="2" mask="url(#b)" xlink:href="#a"/>
            <g transform="matrix(1 0 0 -1 12 20)">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M1.5.5v8"/>
                <circle cx="1.5" cy="12" r="1" />
            </g>
        </g>

        <g id="question-circle"
           fill="none" fill-rule="evenodd"
           transform="translate(1 1)">
            <path id="a" d="M27 13.5c0 7.458-6.043 13.501-13.5 13.501C6.045 27.001 0 20.958 0 13.5 0 6.044 6.045 0 13.5 0 20.957 0 27 6.044 27 13.5z"/>
            <mask id="b" width="30" height="30.001" x="-1.5" y="-1.5">
                <path fill="#fff" d="M-1.5-1.5h30v30.001h-30z"/>
                <use xlink:href="#a"/>
            </mask>
            <use stroke-linecap="round" stroke-linejoin="round" stroke-width="2" mask="url(#b)" xlink:href="#a"/>
            <g transform="translate(10 7)">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.041 9.715c0-.718-.185-1.031.39-1.55 1.18-1.068 3.596-2.319 3.596-4.437C7.027-.609.603-.217.603 3.042"/>
                <circle cx="3" cy="13" r="1"/>
            </g>
        </g>

        <g id="warning"
           fill="none" fill-rule="evenodd"
           transform="translate(1 1)">
            <path id="a" d="M13.499 0L0 27.06h27z"/>
            <mask id="b" width="30" height="30" x="-1.5" y="-1.5">
                <path fill="#fff" d="M-1.5-1.5h30v30h-30z"/>
                <use xlink:href="#a"/>
            </mask>
            <use stroke="transparent" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" mask="url(#b)" xlink:href="#a"/>
            <g transform="translate(12 11)">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1.5.5v8"/>
                <circle cx="1.5" cy="12" r="1" />
            </g>
        </g>

    </defs>
</svg>
