<div class="aph overlay"
     data-ng-show="overlay.visibility">
    <div class="aph overlay__content">
        <div class="aph container">
            <div class="aph alert">
                <div class="aph overlay__content__title"
                     data-ng-if="overlay.title">
                    {{ overlay.title }}
                </div>
                <div class="aph overlay__content__text"
                     data-ng-if="overlay.text">
                    {{ overlay.text }}
                </div>
                <div class="aph overlay__content__actions">
                    <button
                        class="aph overlay__content__actions__button"
                        data-ng-click="continueCallback()"
                        data-ng-if="!hideContinue">
                        {{ overlay.continueText }}
                    </button>
                    <button
                        class="aph overlay__content__actions__button"
                        data-ng-click="cancelCallback()">
                        {{ overlay.cancelText }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
