<div class="aph payment-fast-container">
    <div class="aph payment-fast"
         data-ng-class="{
            'text-center': center,
         }">
        <div class="row middle-xs">
            <div data-ng-class="{
                    'col-xs-9 col-sm-10': !center,
                    'col-xs-12'         : center,
                 }">
                <h4 class="aph payment-fast__title">
                    {{ title || 'COMPRA COM 1-CLIQUE' }}
                </h4>
                <p class="aph payment-fast__text">
                    <span data-ng-if="!center">
                        {{ text || 'Ative e na próxima vez, compre sem preencher os dados.' }}
                    </span>
                    <span data-ng-if="center">
                        {{ text || 'Com cartões salvos, a compra fica mais rápida ainda. Fique tranquilo, nenhuma informação sensível será armazenada.' }}
                    </span>
                </p>
            </div>
            <div class="col-xs-3 col-sm-2 text-right aph payment-fast__toggle-wrapper"
                 data-ng-show="!center">
                <div class="aph form payment-fast__toggle">
                    <label
                        for="{{ elementId }}"
                        class="aph form__switch"
                        title="Salvar cartão para compras futuras: {{ enabled ? 'SIM' : 'NÃO' }}">
                        <input
                            type="checkbox"
                            id="{{ elementId }}"
                            name="{{ elementId }}"
                            class="aph form__switch__check"
                            data-ng-model="enabled"
                            data-ng-change="handleChange()"
                        />
                        <div class="aph form__switch__slider"></div>
                    </label>
                </div>
            </div>
        </div>
        <div data-ng-transclude></div>
    </div>
</div>
