$this: ".docs__home";

#{$this} {
    &__header {
        text-align: center;

        background-color: $color-blue;
        background-image: linear-gradient(145deg, #7be0de, $color-blue);

        &__image {
            display: block;
            margin : 10px auto 14px;

            width : 150px;
            height: 150px;

            background-repeat  : no-repeat;
            background-position: center;
            background-size    : 150px 150px;
            background-image   : url("/assets/images/aphrodite-logo.svg");
        }

        .docs-header {
            &__title,
            &__subtitle {
                text-shadow: 2px 2px 4px rgba($color-black, 0.1);
            }

            &__title {
                color: $color-white;
            }

            &__subtitle {
                color  : $color-white;
                opacity: .5;
            }

            @include xs {
                &__title {
                    &.aph.heavy {
                        font-size  : 50px;
                        line-height: 50px;
                    }
                }
            }
        }
    }
}
