// Globals

html, body {
    height: 100%;
}

$navbar-override: ".aph.navbar";

#{$navbar-override} {
    &__nav {
        #{$navbar-override} {
            &__brand {
                &__logo {
                    background-image: url("#{map-get($path-assets, images)}/aphrodite-logo--blue.svg");
                }
            }
        }
    }

    &--inverted {
        #{$navbar-override} {
            &__nav {
                #{$navbar-override} {
                    &__brand {
                        &__logo {
                            background-image: url("#{map-get($path-assets, images)}/aphrodite-logo.svg");
                        }
                    }
                }
            }
        }
    }
}
